body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 400px;
}

#progress .times,
.card-footer,
#volume-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#volume-controls i {
  margin-right: 5px;
}

/* #progress .times,
#controls,
#volume-controls,
#control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
